*{
    padding: 0;
    margin: 0;
}
canvas{
    height: 210vw;
    width: 100vw;
    position:absolute;
    background: linear-gradient(rgb(117, 67, 67), rgb(61, 60, 60), rgb(0, 0, 0));
    z-index:-1;
}

.screen{
    /* background-color: rgb(0, 5, 8); */
    display: flex;
    justify-content: center;
    align-items: center;
}
#game_box{
    height: 210vw;
    width: 35vw;
    /* background-color: rgb(151, 165, 42); */
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(180, 1fr);
}
.block{
    border-radius: 30%;
    font-size: 1em;
    overflow: hidden;
}
.block_level1{
    background-color: #bcb9b9;
}
.block_level2{
    background-color: #4d4c4c;
}
.block_level3{
    background-color: #050502;
}
.block_level4{
    background-color: #707171;
}
.block_level5{
    background-color: #c3c2c2;
}
.dog{
    background-color: #29f4ea;
    border-radius: 100%;
}
.roro{
    background-color: #29f4ea;
}

@media(max-width: 1000px){
    #game_box{
        height: 600vw;
        width: 100vw;
        /* background-color: rgb(151, 165, 42); */
        display: grid;
        grid-template-columns: repeat(30, 1fr);
        grid-template-rows: repeat(180, 1fr);
    }
    canvas{
        height: 600vw;
        width: 100vw;
        position:absolute;
        background: linear-gradient(rgb(0, 0, 0), rgb(61, 60, 60), rgb(0, 0, 0));
        z-index:-1;
    }
}